.containerImg {
    position: relative;
    text-align: center;
    color: rgb(143, 231, 147);
    font-size:xx-large;
    
  }  
  
  .centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  