.custom-table {
  width: 100%;
  border-collapse: collapse;
}

/* Add borders for all table headers */
.custom-table th {
  border: 1px solid #000;
  background-color: #f5f5f5;
  text-align: center;
  padding: 8px;
}

/* Add borders for the header row */
.custom-table thead tr {
  border: 1px solid #000;
}


.custom-table td {
  border: 1px solid #000;
  text-align: center;
  padding: 8px;
}
