.app {
    padding: 20px;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .ant-card-body {
    padding: 16px;
  }
  
  /* .ant-btn {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    color: white;
  }
  
  .ant-btn:hover {
    background-color: #ff595d;
    border-color: #ff595d;
  } */