/* Custom styles for the SearchField */
.custom-search-field {
  background-color: #f0f0f0;
  /* Change the background color */
  border: 1px solid #ccc;
  /* Optional: Border styling */
}

/* Target placeholder text color */
.custom-search-field::placeholder {
  color: #888;
  /* Change the placeholder text color */
}

/* Assuming the icon is within or adjacent to the input field */
.custom-search-field .search-icon {
  color: #ff5733;
  /* Change the icon color */
}

/* If the icon is part of the input field, you might need to adjust this */
.custom-search-field input {
  color: #000;
  /* Change the text color */
}

/* If using FontAwesome or similar for the icon */
.custom-search-field .fa-search {
  color: #ff5733;
  /* Change the FontAwesome icon color */
}


/* container code  */
/* styles.css */
.chart-container {
  height: 100vh;
  /* width: 100%;
  
  background: #ffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 2px; */
}

.highlight-drop-area {
  border: 2px dashed #007bff;
  background-color: rgba(0, 123, 255, 0.1);
  min-height: 50vh;
}

.box-plot {
  border: 1px solid #007bff;
  background-color: #f8f9fa;
  padding: 10px;
}

.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.no-data-content {
  text-align: center;
}

.data-table-container {
  margin-top: 20px;
}

.data-table-container table {
  width: 100%;
  border-collapse: collapse;
}

.data-table-container th,
.data-table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table-container th {
  background-color: #f2f2f2;
}

.selected-boxes-container {
  margin-top: 20px;
}

.box-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  overflow-y: auto;
}


.box-list button:hover {
  opacity: 0.8;
}

.connection-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  /* Blur effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Text style */
.connection-text {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.ant-popover {
  z-index: 1060;
}



.container-layout {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
  height: 100vh; /* Optional: Full viewport height */
}

.left-section {
  width: 180px;
  min-width: 200px; /* Ensures a fixed width for the left section */
  background-color: #f8f9fa; /* Light gray background */
  padding: 10px;
  background: #ffff;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 2px;
}

.right-section {
  flex: 1; /* Takes the remaining space */
  background-color: #ffffff; /* White background */
  /* padding: 5px; */
  overflow: auto; /* Handles overflow if content exceeds the viewport */
  background: #ffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 2px;


}

/* Responsive Design */
@media (max-width: 768px) {
  .left-section {
    width: 100%; /* Full width on smaller screens */
    min-width: 0; /* Remove the fixed width constraint */
    box-shadow: none; /* Remove shadow for mobile */
  }

  .right-section {
    width: 100%; /* Full width on smaller screens */
  }
}



.icon-container {
  position: absolute;
  top: 5px; 
  left: 2px; 
  display: flex;
  gap: 15px;
  z-index: 10;
  margin-left: 3px;
  margin-bottom: 10px;
  background: #ffff;
  /* border: 1px solid #ddd; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 2px;
}

.icon-container i {
  font-size: 24px; /* Adjust size of the icons */
  cursor: pointer;
  color: #000; /* Adjust icon color */
  transition: color 0.3s ease;
}

.icon-container i:hover {
  color: #007bff; /* Change color on hover */
}

.progress-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh; /* Ensures the container takes up the full viewport height */
  width: 100%;
  background-color: #f8f9fa; /* Optional: A light background to contrast the progress bar */
}