.small-text {
    font-size: 18px;
    color: chocolate;
}

.containerImg {
    position: relative;
    text-align: center;
    color: rgb(143, 231, 147);
    font-size: xx-large;

}

.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

.ftCtVer {
    margin: 10px;
    text-align: center;
    background: white;
    width: auto;
    padding: 10px 0px;
    border-radius: 10px;
    font-weight: bold;
}

.ftOtVer {
    margin: 10px;
    text-align: center;
    background: lightcyan;
    width: auto;
    padding: 10px 0px;
    border-radius: 10px;
    font-weight: bold;
}

.vrDsgn {
    /* margin: 10px; */
    margin: auto;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    /* background: white; */
    border-radius: 5px;
}

.dot-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-content {
    display: flex;
    align-items: center;
    /* Center vertically */
    font-size: 12px;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 50%;
    margin: 0 5px;
    /* Adjust spacing between dots */
    animation: dot-pulse 1.5s infinite;
    /* Adjust animation duration */
}

.dot:nth-child(2) {
    animation-delay: 0.5s;
    /* Adjust delay for the second dot */
}

.dot:nth-child(3) {
    animation-delay: 1s;
    /* Adjust delay for the third dot */
}

.webcam-disconnected h5 {
    font-weight: bold;
}

.webcam-disconnected .mt-2 {
    margin-top: 2rem;
    /* Adjust as needed */
}

.webcam-disconnected>div {
    font-weight: bold;
}

.ant-image-preview-mask {
    z-index: 5404 !important;
}
.ant-image-preview-wrap {
    z-index: 5404 !important;
}
.ant-image-preview-operations-wrapper {
    z-index: 5404 !important;
}
.ant-image-preview {
z-index: 5404 !important; /* Ensure the image preview itself is above the SweetAlert */
}

.no-scroll {
overflow: hidden;
}
.scroll {
    overflow: auto;
}
  
@keyframes dot-pulse {
    0% {
      transform: scale(1);
      opacity: 0.2;
    }
    50% {
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.2;
    }
  }

  @keyframes zoomIn {
      from {
          transform: scale(5);
      }

      to {
          transform: scale(1);
      }
  }

  @keyframes zoomOut {
      from {
          transform: scale(1);
      }

      to {
          transform: scale(0);
      }
  }

  .zoom-in {
      animation: zoomIn 0.5s ease-in-out;
  }

  .zoom-out {
      animation: zoomOut 0.5s ease-in-out;
  }

  .ModalStl {
    margin: auto;
    color: #5f2120;
    font-weight: bold;
    background: #fdeded;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.aSltdImg {
    opacity: 0.8;
    filter: blur(1px);
    pointer-events: none;
}

.ant-slider-handle-1:hover::after {
    /* border: 2px solid red !important; */
    box-shadow: 0 0 0 2px red !important;
}
.ant-slider-handle-2:hover::after {
    /* border: 2px solid green !important; */
    box-shadow: 0 0 0 2px green !important;
}
.ant-slider-handle-1:focus::after {
    /* border: 2px solid red !important; */
    box-shadow: 0 0 0 2px red !important;
}
.ant-slider-handle-2:focus::after {
    /* border: 2px solid green !important; */
    box-shadow: 0 0 0 2px green !important;
}

.ant-slider-handle-1 {
    box-shadow: 0 0 0 5px red !important;
    border-radius: 50%;
    background-color: 2px solid red !important;
    color: red !important;
}

.ant-slider-handle-2 {
    box-shadow: 0 0 0 5px green !important;
    border-radius: 50%;
    background-color: 2px solid green !important;
    color: green !important;
}


.ant-slider-rail {
    background-color: #91d5ff !important;
}

.ant-slider-dot:nth-child(1) {
    /* background-color: red; */
    border: 2px solid red;
}

.ant-slider-dot:nth-child(2) {
    /* background-color: green; */
    border: 2px solid green;
}

.ant-slider-mark-text:nth-child(1) {
    color: red;
    font-weight: bold;
}

.ant-slider-mark-text:nth-child(2) {
    color: green;
    font-weight: bold;
}

.disabled-row {
    cursor: not-allowed !important;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.row-eq-height>[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row-eq-height .card {
    flex: 1;
    /* margin-bottom: 15px;  */
}