/* .item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  .item-button {
    /* margin: 5px; */
    padding: 10px 20px;
    background-color: #50a5f1; /* Bootstrap primary color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    /* Additional styles for hover effect */
  }
  
  .item-button:hover {
    background-color: #0056b3; /* Darker shade of primary color on hover */
  }
  